.nav {
    position: fixed;
    width: 100% ;
    background-color:black;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav ul {
    position: relative;
    display: flex;
    list-style: none;
    padding: 20px
  }

.nav li a {
    text-decoration: none;
    color : white;
    margin: 0 15px;
}

.logo {
    text-decoration: none;
    color: white;
    margin: 20px
}
