.section {
  padding-top: 150px;
}

.sectionplantes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nameplante {
  font-size: 2em;
}

.detailplante {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.detailplante img {
  width: 300px;
  height: 300px;
}

.detailsPara > p {
  text-align: justify;
  line-height: 2em;
}

.detailsPara {
  width: 60%;
}

.detailsplante {
  margin: 3em 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.detailsplante img {
  width: 200px;
  height: 200px;
}

.detailsplante p {
  width: 400px;
  text-align: justify;
  margin: 1em 1em;
}

.blocdetails h3 {
    text-align: center;
  width: 200px;
  color: white;
  background: black;
  margin-bottom: 1.5em;
}

.blocdetails {
    display: flex;
    flex-direction: column;
    align-items: center
}