* {
  margin: 0;
  padding: 0;
  font-family: 'Bai Jamjuree', sans-serif;
  font-family: 'Merriweather', serif;
  font-family: 'Bai Jamjuree', sans-serif;
}

body {
  background: url('./images/background.png');
  background-size: cover;
  /* background-attachment: fixed; */
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.5em;
}

hr {
  border: none;
  background-color: white;
  color: white;
  overflow: visible;
  text-align: center;
  height: 3px;
  margin : 2em 1em;
}

.homePage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh);
  flex-wrap: wrap;
}

.imageHome {
  flex:2;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.imageHome img {
width: 250px;
height : 250px;
border-radius:9em;
transition: all 1s ease;
margin-bottom: 1.2em
}

.imageHome img:hover {
  transform: scale(1.15)
}

.imageHome h3 {
  color: white
}
.paraHome {
  margin:0 20px
}

.addCat{
background-color :black;
 width :250px;
 height :250px;
 color : white
}

